autopep8==1.5.4
certifi==2020.12.5
cffi==1.14.4
chardet==4.0.0
cryptography==3.3.1
docutils==0.16
idna==2.10
Kivy==2.0.0
kivy-deps.angle==0.3.0
kivy-deps.glew==0.3.0
kivy-deps.sdl2==0.3.1
Kivy-examples==2.0.0
Kivy-Garden==0.1.4
Pillow==8.1.0
plyer==2.0.0
pycodestyle==2.6.0
pycparser==2.20
Pygments==2.7.4
pypiwin32==223
pywin32==300
requests==2.25.1
six==1.15.0
toml==0.10.2
urllib3==1.26.3
